__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
.build/
.venv/
.env
.env.*
!.env.example
certs/*
!certs/.gitkeep
*.pem.bak
/data/*.csv
.coverage
src/infrastructure/rasa/.rasa/
src/infrastructure/rasa/models/*.tar.gz
data/